TibcoADD/AddOperation/Service Descriptors/ADD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ADD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ADD" targetNamespace="http://www.tibco.com/ADD/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ADD/">
	<xsd:complexType name="Req">
		<xsd:sequence>
			<xsd:element name="Num1" type="xsd:int"></xsd:element>
			<xsd:element name="Num2" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Res">
		<xsd:sequence>
			<xsd:element name="Result" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType></xsd:schema></wsdl:types>
    <wsdl:message name="AddOperationRequest">
    <wsdl:part name="AddOperationRequest" type="tns:Req"/>
  </wsdl:message>
  <wsdl:message name="AddOperationResponse">
    <wsdl:part name="AddOperationResponse" type="tns:Res"/>
  </wsdl:message>
  <wsdl:portType name="ADD">
    <wsdl:operation name="AddOperation">
      <wsdl:input message="tns:AddOperationRequest"/>
      <wsdl:output message="tns:AddOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADDSOAP" type="tns:ADD">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddOperation">
      <soap:operation soapAction="http://www.tibco.com/ADD/AddOperation"/>
      <wsdl:input>
        <soap:body namespace="http://www.tibco.com/ADD/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.tibco.com/ADD/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADD">
    <wsdl:port binding="tns:ADDSOAP" name="ADDSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
